################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Visual Life Forge/FileContentIndex/c23e78b6-8581-4485-96da-941b819fa2b4.vsidx
/.vs/Visual Life Forge/FileContentIndex/4934ab38-1fe4-402d-bf63-020a21e40e98.vsidx
*.editorconfig
